@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,300;0,500;0,600;1,400&display=swap');

:root{
    --blue:#3498db;
    --dark-blue:#2980b9;
    --red:#e74c3c;
    --dark-red:#c0392b;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --main-bg-color: #b33636;
    --black-color:#222;
    --white-color:#fff;
    --light-black-color:#777;
    --dark-bg-color:rgb(0,0,0,.7);
    --light-bg-color:#eee;
    --border:.1rem solid var(--black-color);
    --box-shadow:0 .5rem 1rem 0 rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem 0 rgba(0,0,0,.3);

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;

}

html::-webkit-scrollbar-track{
  background-color:  var(--white-color);
}

html::-webkit-scrollbar-thumb{
    background-color:  var(--main-bg-color);
  }

section{
    padding: 5rem 10%;
}

.head-title{
    text-align: center !important;
    margin-bottom: 3rem !important;
    font-size: 4.45rem !important;
    text-transform: uppercase !important;
    color: var(--black-color);
   

}
.navStyle{
    background-color: var(--main-bg-color);
    color: #000;
   
}

.nav-intem:hover{
    text-decoration: underline;
    color: #fff;
}

 .footerStyle{
    background-color: rgb(60, 74, 82) !important;
    color: #fff !important;
} 
.nav-intem{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}


.header
{
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white-color);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black-color);
}

.header  .navBar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black-color);
}
.header  .navBar a:hover{
    color: var(--main-bg-color);
}

.heading{
    background-size: cover !important;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: #fff;
    
}

#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--black-color) !important;
    display: none;
}

/*Slide bar styles*/
.home-container{
    padding: 0;
}

.home-container .slide{
    text-align: center;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 55rem;
}

.home-container .slide .content{
    width: 85rem;
    display: none;
    
}

.home-container .swiper-slide-active .content{
    display: inline-block;
 }

.home-container .slide .content span
{
display: block;
font-size: 2.2rem;
color: var(--white-color);
padding-bottom: 1rem;
animation:fadeIn .4s linear backwards .2s;

} 

.home-container .slide .content h3{
    font-size: 6vw;
    color: var(--white-color);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1.5rem;
    animation:fadeIn .2s linear backwards .4s;


}
.home-container .slide .content .btn{
    animation:fadeIn .2s linear backwards .6s;
}


/* btn- slide bar estilos */

.btn{
    margin-top: 1rem !important;
    display: inline-block !important;
    background: var(--black-color) !important;
    color: var(--white-color) !important;
    font-size: 1.7rem !important;
    padding: 1rem 3rem !important;
    cursor: pointer !important;
}
.btn:hover{
    background: var(--main-bg-color) !important;
}
.swiper-button-next, .swiper-button-prev
{
top: inherit;
left: inherit;
bottom: 0;
height: 7rem;
width: 7rem;
background: var(--white-color);
color: var(--black-color)7;

}



.home-container .swiper-button-next:hover, .swiper-button-prev:hover
{
background: var(--main-bg-color);
color: var(--white-color);
}

.home-container .swiper-button-next::after, .swiper-button-prev::after
{
font-size: 2rem;
}
.home-container .swiper-button-prev{
    right: 7rem;
}
/* btn- slide bar estilos  ends*/

/*animation*/
@keyframes fadeIn {
   0% {transform:scale(.5 );
    opacity: 0;
   }

}

/*Slide bar styles  ends*/


.services-container .box-container-services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 1.5rem;
   
}

.services-container .box-container-services .box-services
{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-bg-color);
    cursor: pointer;

}
.services-container .box-container-services .box-services:hover
{
    background: var(--black-color);
}

.services-container .box-container-services .box-services img
{
    height: 7rem;
}
.services-container .box-container-services .box-services h3
{
    color: var(--white-color);
    font-size: 1.7rem;
    padding-top: 0.95rem;
}
/*About Home section styles*/

.about-home{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

.about-home .image{
    flex: 1 1 41rem;
}

.about-home .image img{
    width: 100%;
}

.about-home .about-content,.about-home .about-content .content {
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg-color);
}

.about-home .about-content h3{
    font-size: 3rem;
    color: var(--black-color);
}

.about-home .about-content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black-color);

}
/*about-content ends*/

/*package-content stars*/
.package-container{
    background: var(--light-bg-color);
}
.package-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;

}
.package-container .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white-color);
    display: none;

}

.package-container .box-container .box:nth-child(1),
.package-container .box-container .box:nth-child(2),
.package-container .box-container .box:nth-child(3),
.package-container .box-container .box:nth-child(4),
.package-container .box-container .box:nth-child(5),
.package-container .box-container .box:nth-child(6){
    display: inline-block;
}


.package-container .box-container .box .image{
    height: 25rem;
    overflow: hidden;

}

.package-container .box-container .box .image img{
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.package-container .box-container .box .content{
    padding: 2rem;
    text-align: center;
}

.package-container .box-container .box .content h3{
    font-size:2.5rem ;
    color: var(--black-color);
}

.package-container .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black-color);
    line-height: 2;
    padding: 1rem;
}

.package-container .load-more{
    text-align: center;
    margin-top: 2rem;
}

/*Package-content ends*/
.home_offer{
    text-align: center;
}
/*offer content editions starts*/
.home_offer  .content{
    max-width: 70rem;
    margin: 0 auto;

}

.home_offer  .content h3{
font-size: 3.75rem;
text-transform: uppercase;
color: var(--black-color);
}
.home_offer  .content p{
    font-size: 1.5rem;
  
    color: var(--light-black-color);
    line-height: 2;
    padding: 1rem 0;
    }
/*offer content editions ends*/
/*Footer-stars*/
.footer{
    background:url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));/*search about it*/
    gap: 3rem;
}

.footer .box-container-footer .box-footer h3{
color: var(--white-color);
font-size: 2.5rem;
padding-bottom: 2rem;
}

.footer .box-container-footer .box-footer h3{
    color: var(--white-color);
    font-size: 2.5rem;
    padding-bottom: 2rem;
    }
.footer .box-container-footer .box-footer a{
     color: var(--white-color);
     font-size: 1.5rem;
     padding-bottom: 1.5rem;
     display: block;
        }
.footer .box-container-footer .box-footer a i{
     color: var(--main-bg-color);
     padding-right: .5rem;
     transition: .2s linear;

}

.footer .box-container-footer .box-footer a:hover i{
    padding-right: 2rem;
}
.footer .credito{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--white-color);
    font-size: 1.78rem;
    color: var(--white-color);
}
.footer .credito span{
    color: var(--main-bg-color);
}


/*Footer-ends*/




/* media queries */
@media(max-width:1200px){

    section{
        padding: 3rem 5%;
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .home-container .slide .content h3{
        font-size: 10vw;
    }
}
/* botão do menu */
@media(max-width:768px){
    #menu-btn{ /*obotao é visualizado quando a tela possui este tamanho */
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);/*faz com que quando é clicado no botao ele faça a rotação, pois ja voi aplicado evento onclick no js "fa-times*/
    }

    .header .navBar{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background-color: var(--white-color);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/*clip-path encontamos essa animação no site https://www.cssportal.com/css-clip-path-generator/--ele é responsavel em animação
        */
    }

    .header .navBar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);/*é a parte final, responsavel animação.*/
    }

    .header .navBar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .head-title{
        font-size: 3rem;
    }
    
}

/*
======================Registration=========================================
*/

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 500px;
    background: #f5f5f5;
    box-shadow: 0px 0px 15px #909090;
    margin: 0 auto;
}

h1 {
    display: block;
    width: 100% !important;
    text-align: center;
    font-weight: bold;
}

.form_create_client div label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.6rem !important; 
    color: var(--black-color);
}

.form_create_client div input.invalido {
    border: 1px solid red;
}
.form_create_client .inputBox input{
    width: 44rem;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black-color);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

button:hover {
    background: #36b647;
}

.erro {
    display: block;
    margin-top: 15px;
    color: red;
}

/*
=================================Perfil
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

/* *::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
} */

.btn,
.delete-btn{
   /* width: 100%; */
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

/* .btn{
   background-color: var(--blue);
}

.btn:hover{
   background-color: var(--dark-blue);
} */

.delete-btn{
   background-color: var(--red);
}

.delete-btn:hover{
   background-color: var(--dark-red);
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: var(--red);
   color:var(--white);
   font-size: 20px;
}

.form-container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.form-container form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 500px;
   border-radius: 5px;
}

.form-container form h3{
   margin-bottom: 10px;
   font-size: 30px;
   color:var(--black);
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 18px;
   color:var(--black);
   margin:10px 0;
   background-color: var(--light-bg);
}

.form-container form p{
   margin-top: 15px;
   font-size: 20px;
   color:var(--black);
}

.form-container form p a{
   color:var(--red);
}

.form-container form p a:hover{
   text-decoration: underline;
}

.container{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.container .profile{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 400px;
   border-radius: 5px;
}

.container .profile img{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.container .profile h3{
   margin:5px 0;
   font-size: 20px;
   color:var(--black);
}

.container .profile p{
   margin-top: 20px;
   color:var(--black);
   font-size: 20px;
}

.container .profile p a{
   color:var(--red);
}

.container .profile p a:hover{
   text-decoration: underline;
}

.update-profile{
   min-height: 100vh;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.update-profile form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: 5px;
}

.update-profile form img{
   height: 200px;
   width: 200p;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap:15px;
}

.update-profile form .flex .inputBox{
   width: 49%;
}

.update-profile form .flex .inputBox span{
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color:var(--black);
}

.update-profile form .flex .inputBox .box{
   width: 100%;
   border-radius: 5px;
   background-color: var(--light-bg);
   padding:12px 14px;
   font-size: 17px;
   color:var(--black);
   margin-top: 10px;
}
/* ====================== Views profil */
.view_profile{
    font-size: large;
}





@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}